@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


body{
  font-size: 10px;
  font-family: 'Work Sans', sans-serif;
  color: rgb(42, 141, 122);
  font-weight: 400;
  text-align: center;
  background-color: #d3dfdf;
}


button {
  background-color: rgb(42, 141, 122);
  font-family: 'Work Sans', sans-serif;
  font-size:20px;
  
}

h1 {
  font-weight: 500;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(42, 141, 122);
  color: #fff;
 
}

label {
  font-size:20px;
 }

input {
 height:30px;
 padding:15px;
 width: 50%;
	
}

